*{
    box-sizing: border-box;
}
.brand_img{
    width:100px;
    align-self: center;
}
.google_btn{
    border: 0.7px solid var(--color-gray1);
    height: var(--input-field-height);
}
.forgot_password{
    font-family:var(--font-public);
    font-size: var(--main-para);
    font-weight: var(--font-weight500);
    color:var(--color-black);
}
.description{
    font-family:var(--font-public);
    font-size: var(--sub-heading);
    font-weight: var(--font-weight300);
    color: lightslategrey;
}
.social_text{
    font-family:var(--font-public);
    font-size: var(--sub-heading);
    font-weight: var(--font-weight500);
    color: var(--color-black);
}
.create_now_text{
    composes:description;
    color:var(--color-black) !important;
    font-weight: var(--font-weight500) !important;
    text-decoration: none;
}
/* Create Account Styling */
.welcome_text{
    font-family:var(--font-public);
    font-size: var(--main-heading);
    font-weight: var(--font-weight500);
    color: var(--color-black);
}

.loading_view_container{
    align-items: center;
    background: #313131cc;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
}