.profile_container{
    background-color: var(--color-white);
    border-radius: 20px;
    height: auto;
    margin: 0 15px;
    padding: 20px 10px;
}

@media  screen and (min-width:768px) {
    .profile_container{
        padding: 30px;
    }
}

.user_img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid red;
    display: flex;
    align-items: center;

}
.change_password_text{
    font-family: var(--font-public);
    font-size: var(--sub-heading);
    color: var(--color-navy-green);
}